{% extends "baseAnonyme.html" %}
{% block main %}
<div class="container-fluid">
  <div class="container">
      <div class="col">
          <article class="col-md-10">
            <p class="p_accueil">Ce site a été créé suite à une demande d’un professeur d’une école voisine, 
                nous avons donc dû créer un site corréspondant à ses besoins lors de notre 
                projet tutoré de deuxième année de DUT à l’IUT informatique d’Orléans.</p>
          </article>
          <article class="col-md-10">
            <p class="p_accueil">Voici un petit mot de vos développeurs :</p>
          </article>
          <img width = 400 height = 100 src="https://assets.onthehub.com/attachments/15/bf1336cd-799b-e011-969d-0030487d8897/40d4e299-03ff-4c99-94a8-7a100f07837c.jpg">
          <article class="col-md-10">
            <p class="p_accueil"> <br>La réalisation de ce projet nous a permis de revoir plusieurs compétences vu auparavant 
                qui nous ont aidé par la suite mais aussi de se plonger profondément dans certains langages 
                ainsi que de comprendre la difficulté qu’est de créer un projet de A à Z.</p>
          </article>
          <article class="col-md-10">
            <p class="p_accueil">Nous vons invitons à laisser un avis afin de le perfectionner et de nous améliorer.</p>
          </article>
      </div>
  </div>
</div>
{% endblock %}
