{% extends "baseAnonyme.html" %}
{% block main %}
<div class="container-fluid">
  <div class="container">
  <h3>Liste des avis : </h3>
    <div class="col">
        {% for avi in avis %}
            <article class="col-md-10 avis">
                <h5>{{avi.date}} {{avi.utilisateur.prenom}} {{avi.utilisateur.nom}} : {{avi.star}} <p class="fa fa-star checked"></p></h5>
                <p class = "av">{{avi.texteAvis}}</p>
            </article>
        {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
