{% extends "base.html" %}
{% block nav %}
<a class="navbar-brand" href="#">EscaMath</a>
{% if moyenne != -1 %}
<span class="navbar-text">
    {{moyenne}} <p class="fa fa-star checked"></p>
</span>
{% endif %}
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
<li class="nav-item"><a class="nav-link active p_accueil" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link active p_accueil" href="/about">About</a></li>
<li class="nav-item"><a class="nav-link active p_accueil" href="/avis">Avis</a></li>
</ul>
<ul class="navbar-nav ml-auto">
<li class="nav-item"><a class="btn btn-primary" href="/etudiant">Register</a></li>
<li class="nav-item"><a class="btn btn-secondary" href="/login">Log in</a></li>
</ul>
</div>
{% endblock nav%}
