{% extends "base.html" %}
{% block nav %}
<a class="navbar-brand" href="#">EscaMath</a>
<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link active p_accueil" href="/professeur">Elèves</a></li>
    <li class="nav-item"><a class="nav-link active p_accueil" href="/professeur/escapeCree">Vos Escapes</a></li>
    <li class="nav-item"><a class="nav-link active p_accueil" href="/professeur/creeEscape">Créer un escape</a></li>
</ul>
<img src="{{url_for('static',filename='img/'+current_user.imageProfil)}}">
<span class="navbar-text">
    {{ current_user.nom }} {{ current_user.prenom }}
</span>
<ul class="navbar-nav ml-auto">
    <a href="/parametre"><img style="background-color: white;" src="{{url_for('static', filename='icons8-paramètres-50.png')}}"></a>
    <li class="nav-item"><a class="btn btn-primary" href="/logout">Log out</a></li>
</ul>

</div>
{% endblock nav %}
