{% extends "baseadmin.html" %}
{% block main %}
<div class="container-fluid">
    <div class="container">
		<div class="row">
			<div class="col-md-6">
				<h3>Liste prof</h3>
				<div class="liste_admin overflow-auto">
					<ul>
						{% for e in prof %}
						<li>{{e.mail}}</li>
						{% endfor %}
					</ul>
				</div>
				
			</div>
			<div class="col-md-6">
				<h3>Liste Eleve</h3>
				<div class="liste_admin overflow-auto">
					<ul>
						{% for i in eleves %}
						<li>{{i.mail}}</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>
{%endblock%}
