<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='newCss.css') }}">
    <script src="{{ url_for('static', filename='creerClasse.js') }}"></script>
    <title>{{ title }}</title>
</head>
<body style="background: linear-gradient(45deg,#dd5e89, #f7bb97);">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
                {% block nav %}{% endblock %}
        </div>
    </nav>
    <main>
        {% block main %}
        {% endblock %}
    </main>
</body>

</html>
