{% extends "baseCreationEscape.html" %}
{% block main %}
<div class="container">
<form class="form-horizontal" role="form" method ="POST" action ="{{ url_for('creation_enigme') }}" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <div class ="form-group">
      <div id="juju">
        <select name="select1" id="pinsard" onchange="dict()">
          <option value="-1">Sur quelle scénario voulez-vous créer une salle ?</option>
          {% for i in range(choices|length) %}
            <option value="{{i}}">{{choices[i]}}</option>
          {% endfor %}
        </select>
      </div>
    </div>
    <br>
    <div class ="form-group">
      <label for="indice" class ="col-sm-2 control-label">{{ form.file.label }}</label >
        <div class ="col-sm-10">
          {{ form.file(size=50, class_="form-control") }}
        </div >
      </div >
      <br>
    <div class ="form-group">
      <label for="titre" class ="col-sm-2 control-label">{{ form.titre.label }}</label >
        <div class ="col-sm-10">
          {{ form.titre(size=50, class_="form-control",placeholder ="Titre") }}
        </div >
      </div>
      <br>
      <div class ="form-group">
        <label for="domaine" class ="col-sm-2 control-label">{{ form.domaine.label }}</label >
          <div class ="col-sm-10">
            {{ form.domaine(size=50, class_="form-control",placeholder ="Domaine, ex : Fonction") }}
          </div >
        </div >
        <br>
        <div class ="form-group">
          <label for="texte" class ="col-sm-2 control-label">{{ form.texte.label }}</label >
            <div class ="col-sm-10">
              {{ form.texte(size=50, class_="form-control",placeholder ="Question") }}
            </div >
          </div >
          <br>
          <div class ="form-group">
            <label for="reponse" class ="col-sm-2 control-label">{{ form.reponse.label }}</label >
              <div class ="col-sm-10">
                {{ form.reponse(size=50, class_="form-control",placeholder ="Réponse") }}
              </div >
            </div >
            <br>
          <div class ="form-group">
              <label for="indice" class ="col-sm-2 control-label">{{ form.indice.label }}</label >
                <div class ="col-sm-10">
                  {{ form.indice(size=50, class_="form-control",placeholder ="Indice") }}
                </div >
              </div >
              <br>
        <div class ="form-group">
            <label for="points" class ="col-sm-2 control-label">{{ form.points.label }}</label >
                <div class ="col-sm-10">
                {{ form.points(size=5, class_="form-control") }}
            </div >
        </div >
        <br>
        <div class ="form-group">
          <div class ="col-sm-offset-2 col-sm-10">
            <button type="submit" class ="btn btn-primary">Valider</button>
      </div>
  </div>
  <script type="text/javascript">
    function dict(){
      if (document.getElementById('cool') != null){
        let patrick = document.getElementById('cool');
        patrick.remove();
      }
      var f = document.getElementById('juju');
      my_type = '{{my_json|safe}}'
      let dict = JSON.parse(my_type)
      let thomas = document.getElementById('pinsard');
      let indice = thomas.selectedIndex.toString()
      console.log(dict)
      for (let a in dict){
        if (a == indice){
          var combo = document.createElement('select');
          combo.setAttribute('id','cool');
          combo.setAttribute('name','select2');
          f.appendChild(combo);
          //console.log(dict[a])
          for (let z in dict[a]){
            console.log(dict[a][z])
            var element = document.createElement("option");
            element.setAttribute("name",dict[a][z]);
            element.setAttribute("value",z);
            element.text = dict[a][z];
            combo.appendChild(element);
          }
        }
      }
    }
  </script>
</form >
</div>
{% endblock %}
