{% extends "baseCreationEscape.html" %}
{% block main %}
<script src="{{ url_for('static', filename='creerClasse.js') }}"></script>
<div class="container">
<h3>Créer la première salle de votre scénario</h3>
<br>
<div class="profEleve">
  <div>
    <form id="fofo" method="POST" class="formcreation" action="{{ url_for('creation_salle') }}" enctype="multipart/form-data">
      <div>
        <p style="margin-bottom: 0;">Choisir un scénario</p>
        <select name="select1" id="pinsard" onchange="dict_P_to_JS('{{dict_senar_salle}}')">
          <option value="-1">Sur quelle scénario voulez vous créer une salle ?</option>
          {% for i in range(choices|length) %}
            <option value="{{i+1}}">{{choices[i]}}</option>
          {% endfor %}
        </select>
      </div>
      <br>
      <p>Combien de salle voulez-vous créer ?
      <select name="coucou" id="coucou" onchange="creerSalle()">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
      </select></p>
</div>
</div>
{% endblock %}
