{% extends "baseCreationEscape.html" %}
{% block main %}
<div class="container">

<h3>Créer un Scénario pour votre Escape Game</h3>
<br>
<div class="profEleve">
  <div>
    <form method="POST" class="formcreation" action="{{ url_for('creation_scenario') }}" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <div>
        {{ form.titre.label }} {{ form.titre(size=50) }}
      </div>
      <br>
      <div>
        {{ form.texteintro.label}} {{form.texteintro(size=200) }}
      </div>
      <br>
      <div>
        {{ form.time.label }} {{form.time() }}
      </div>
      <br>
      <div>
        {{ form.image.label }} {{form.image(size=50) }}
      </div>
      <br>
      <div>
        {{ form.selection.label }} {{ form.selection(size=0, class_ ="form-select form-select-lg select_mat" ) }}
      </div>
      <br>
      <input type="submit" value="Valider" class="btn btn-primary">
      <input type="reset" value="reset" class= "btn btn-secondary">
    </form>
  </div>
</div>

</div>
{% endblock %}
