{% extends "baseadmin.html" %}
{% block main %}

<div class="container-fluid">
  <div class="container">
    <h3>Création d'un professeur</h3>
    <div class ="col-sm-9">
    <form class="form-horizontal" role="form" method ="POST" action ="{{url_for('CreerProf')}}">
      {{ form.hidden_tag() }}
      <div class ="form-group">
        <label for="NomNvProf" class ="col-sm-2 control-label">{{ form.NomNvProf.label }}</label >
          <div class ="col-sm-10">
            {{ form.NomNvProf(size=50, class_="form-control",placeholder ="Nom") }}
          </div >
        </div >
      <div class ="form-group">
        <label for="PrenomNvProf" class ="col-sm-2 control-label">{{ form.PrenomNvProf.label }}</label >
          <div class ="col-sm-10">
            {{ form.PrenomNvProf(size=50, class_="form-control",placeholder ="Prenom") }}
          </div >
        </div >
      <div class ="form-group">
        <label for="MailNvProf" class ="col-sm-2 control-label">{{ form.MailNvProf.label }}</label >
          <div class ="col-sm-10">
            {{ form.MailNvProf(size=50, class_="form-control",placeholder ="Mail") }}
          </div >
        </div >
      <div class ="form-group">
        <label for="MDPTemp" class ="col-sm-2 control-label">{{ form.MDPTemp.label }}</label >
          <div class ="col-sm-10">
            {{ form.MDPTemp(size=50, class_="form-control",placeholder ="Mot De Passe") }}
          </div >
        </div >
      <div class ="form-group">
        <label for="ImageProf" class ="col-sm-2 control-label">{{ form.ImageProf.label }}</label >
          <div class ="col-sm-10">
            {{ form.ImageProf(size=50, class_="form-control",placeholder ="Image") }}
          </div >
        </div >
      <div class ="form-group">
          <div class ="col-sm-offset-2 col-sm-10">
            <button type="submit" class ="btn btn-primary">Valider</button>
          </div >
        </div>
    <br>
      </form>
    <h3>Supprimer un professeur</h3>
      <form class="form-horizontal" role="form" method ="POST" action ="{{url_for('CreerProf')}}">
        {{ form2.hidden_tag() }}
        <div class ="form-group">
          <label for="MailSPProf" class ="col-sm-2 control-label">{{ form2.MailSPProf.label }}</label >
            <div class ="col-sm-10">
              {{ form2.MailSPProf(size=50, class_="form-control",placeholder ="Mail") }}
            </div >
          </div >
          <div class ="form-group">
              <div class ="col-sm-offset-2 col-sm-10">
                <button type="submit" class ="btn btn-primary">Valider</button>
              </div >
            </div >
          </div>

</div>
</div>
{%endblock%}
