{% extends "baseEtudiant.html" %}
{% block main %}
<div class="container-fluid">
    <div class="container">

<div class="row">
    <select class="col-md-2 me-auto mb-2" id="select_groupe" onchange="groupe()">
        <option>Choisis ton groupe</option>
        {% for groupe in groupes %}
        <option value = {{groupe.groupe.id}}>{{ groupe.groupe.nom }}</option>
        {% endfor %}
    </select>
    <div id="alert_groupe" class="alert alert-danger col-md-6" role="alert">
        Veuillez choisir un groupe !
    </div>
    <form class="col-md-3" method = 'GET'>
        <input class="col-md-6" type='search' name='recherche' placeholder='Recherche...'/>
        <input class="btn btn-primary col-md-5" type='submit' value='Valider'/>
     </form>
</div>

<div id="supp_groupe" class = "pop-up-statistique">
    <form role="form" method="post" action="{{ url_for('supp_groupe') }}">
        <input class="btn btn-primary" type="submit" value="Supprimer">
    </form>
</div>


<h3>Escapes proposés par les professeurs :</h3>
<div class="row">
    {% for escape in escapes %}
        <div class="vueEscape col-md-2">
            <img class="imageEscape" src="{{url_for('static',filename='img/'+escape.image)}}">
            <p><strong>{{escape.nom}}</strong></p>
            <form role="form" method='post' action="{{ url_for('jeu') }}">
                <input type="hidden" id="heureRestante" name="heureRestante" value={{escape.temps.hour}}>
                <input type="hidden" id="minuteRestante" name="minuteRestante" value={{escape.temps.minute}}>
                <input type="hidden" id="secondeRestante" name="secondeRestante" value={{escape.temps.second}}>
                <input type="hidden" id="escape_id" name="escape_id" value={{escape.id}}>
                <input type="hidden" id="salle_id" name="salle_id" value={{escape.salle_id}}>
                <input type="hidden" id="newPartie" name="newPartie" value="YES">
                <input type="hidden" id="etudiant_id" name="etudiant_id" value={{current_user.mail}}>
                <input type="hidden" class="groupe" id="groupe" name="groupe" value="Pas de groupe">
                <input class="btn btn-primary" value="Jouer" type="submit">
            </form>
        </div>
    {% endfor %}
</div>
</div>
</div>
</div>
{% endblock %}
