{% extends "baseEtudiant.html" %}
{% block main %}

<div class="container-fluid">
  <div class="container">

<div class="row">
    <button class="col-md-2 me-auto mb-2 btn btn-primary" type="button" onclick="popUpStatistique()">Voir statistiques globales</button>
    <form class="col-md-3" method = 'GET'>
        <input class="col-md-6" type='search' name='recherche' placeholder='Recherche...'/>
        <input class="btn btn-primary col-md-5" type='submit' value='Valider'/>
     </form>
</div>

<h3>Escapes games réalisés :</h3>
<div class="row">
{% for partie in parties %}
        <div class="vueEscape col-md-2">
            <img class="imageEscape" src="{{url_for('static',filename='img/'+partie.scenario.image)}}">
            <p><strong>{{partie.scenario.nom}}</strong></p>
            <p>Note : {{note[partie.id]}}</p>
            <form role="form" method='post' action="{{ url_for('jeu') }}">
                <input type="hidden" id="heureRestante" name="heureRestante" value={{partie.timer.hour}}>
                <input type="hidden" id="minuteRestante" name="minuteRestante" value={{partie.timer.minute}}>
                <input type="hidden" id="secondeRestante" name="secondeRestante" value={{partie.timer.second}}>
                <input type="hidden" id="escape_id" name="escape_id" value={{partie.scenario.id}}>
                <input type="hidden" name="id_partie" id="id_partie" value={{partie.id}}>
                <input type="hidden" name="groupe" value="{{partie.groupe_id}}">
                <input type="hidden" id="salle_id" name="salle_id" value="{{partie.scenario.salle_id}}">
                <input class="btn btn-primary" value="Rejouer" type="submit">
            </form>
        </div>
    {% endfor %}
  </div>
    <div id="popupstat" class="pop-up-statistique">
    <div class="row">
        <div class="col">
          <div>
            <p><strong>Moyenne de tous les escapes</strong></p>
            <p>{{moyenne_total}}</p>
          </div>
          <div>
            <p><strong>Nombre d'escapes différents réalisés</strong></p>
            <p>{{nb_escape_realise}}</p>
          </div>
        </div>
        <div class="col">
        <div>
          <div class="row">
            <p><strong>Moyenne pour l'escape : </strong></p>
            <select id="selectScenario" onchange="voirNote()">
              <option>Choisir un scénario</option>
              {% for scenario in escapes %}
                <option value="{{moyenne}}" id="{{scenario.id}}">{{scenario.nom}}</option>
              {% endfor %}
            </select>
          </div>
          <p id="note">Choisir un scénario</p>
          <p id="essaie"></p>
          <p id="abandon"></p>
        </div>
        </div>
    </div>
      <div class="btn btn-primary" onclick="cacherStatistique()">Annuler</div>
    </div>
  </div>
</div>
{% endblock %}
