{% extends "baseadmin.html" %}
{% block main %}
<div class="container">
<h3>Creer Étudiant</h3>
<form class="form-horizontal" role="form" method ="POST" action ="{{url_for('GestionEtu')}}">
  {% for message in get_flashed_messages() %}
    <div class="alert alert-warning" role="alert">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
  {% endfor %}
  {{ form.hidden_tag() }}
  <div class ="form-group">
    <label for="NomNvEtu" class ="col-sm-2 control-label">{{ form.NomNvEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.NomNvEtu(size=50, class_="form-control",placeholder ="Tapez le nom de l'étudiant") }}
      </div >
    </div >
	<div class ="form-group">
    <label for="PrenomNvEtu" class ="col-sm-2 control-label">{{ form.PrenomNvEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.PrenomNvEtu(size=50, class_="form-control",placeholder ="Tapez le prénom de l'étudiant") }}
      </div >
    </div >
	<div class ="form-group">
    <label for="MailNvEtu" class ="col-sm-2 control-label">{{ form.MailNvEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.MailNvEtu(size=50, class_="form-control",placeholder ="Tapez le mail de l'étudiant") }}
      </div >
    </div >
	<div class ="form-group">
    <label for="MDPTemp" class ="col-sm-2 control-label">{{ form.MDPTemp.label }}</label >
      <div class ="col-sm-10">
        {{ form.MDPTemp(size=50, class_="form-control",placeholder ="Tapez le mot de passe de l'étudiant") }}
      </div >
    </div >
  <div class ="form-group">
    <label for="EtabliNvEtu" class ="col-sm-2 control-label">{{ form.EtabliNvEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.EtabliNvEtu(size=50, class_="form-control",placeholder ="Tapez l'établissement de l'étudiant") }}
      </div >
    </div >
  <div class ="form-group">
    <label for="PromoNvEtu" class ="col-sm-2 control-label">{{ form.PromoNvEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.PromoNvEtu(size=50, class_="form-control",placeholder ="Tapez la promotion dans laquelle est l'étudiant") }}
      </div >
    </div >
  <div class ="form-group">
    <label for="ClasseNvEtu" class ="col-sm-2 control-label">{{ form.ClasseNvEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.ClasseNvEtu(size=50, class_="form-control",placeholder ="Tapez la classe dans laquelle est l'étudiant") }}
      </div >
    </div >
  <div class ="form-group">
    <label for="GroupeNvEtu" class ="col-sm-2 control-label">{{ form.GroupeNvEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.GroupeNvEtu(size=50, class_="form-control",placeholder ="Tapez le groupe dans lequel est l'étudiant") }}
      </div >
    </div >
	<div class ="form-group">
    <label for="ImageEtu" class ="col-sm-2 control-label">{{ form.ImageEtu.label }}</label >
      <div class ="col-sm-10">
        {{ form.ImageEtu(size=50, class_="form-control",placeholder ="Coller l'adresse de l'avatar de l'étudiant") }}
      </div >
    </div >
	<div class ="form-group">
      <div class ="col-sm-offset-2 col-sm-10">
        <button type="submit" class ="btn btn-primary">Valider</button>
      </div >
    </div >
</form>
<br>
<h3>Supprimer Étudiant</h3>
	<form class="form-horizontal" role="form" method ="POST" action ="{{url_for('GestionEtu')}}">
    {{ form2.hidden_tag() }}
		<div class ="form-group">
	    <label for="MailSPEtu" class ="col-sm-2 control-label">{{ form2.MailSPEtu.label }}</label >
	      <div class ="col-sm-10">
	        {{ form2.MailSPEtu(size=50, class_="form-control",placeholder ="Tapez ici l'adresse mail d'un étudiant pour le supprimer") }}
	      </div >
	    </div >
			<div class ="form-group">
		      <div class ="col-sm-offset-2 col-sm-10">
		        <button type="submit" class ="btn btn-primary">Valider</button>
		      </div >
		    </div >
      </div>
{%endblock%}