{% extends "baseAnonyme.html" %}
{% block main %}
<div class="container-fluid">
  <div class="container">
    <div class="col">
        <article class="col-md-10">
        <p class="p_accueil">Bienvenue sur notre site d’escape game où vous, utilisateurs, pourrez jouer ou créer des escapes games 
            en fonction de votre rôle : étudiant, profésseur ou administrateur</p>
        </article>
        <article class="col-md-10">
            <p class="p_accueil">Si vous êtes <strong>Étudiant</strong> :<br>
            Il vous suffit de vous connecter via le compte créé par votre professeur ou votre administrateur, 
            ensuite vous aurez accés aux différents escapes games que vos professeurs vous ont partagés via le code 
            qu'ils vous ont générés pour vous donner accés.<br>
            Ensuite vous aurez la possibilité de rejouer à certain de vos escapes games comme par exemple pour réviser 
            ou obtenir une meilleure note à celui-ci et donc aussi avoir la possibilité de regarder vos statistiques 
            personnelles.
            <br>
            Ces parties vous permettront d’améliorer votre niveau dans vos matières scolaires 
            de manières ludiques et agréable.</p>
        </article>
        <article class="col-md-10">
            <p class="p_accueil">Si vous êtes un <strong>Professeur</strong> : <br>
            Tout comme vos élèves, vous aurez à vous connecter avec le compte créé par votre administrateur, 
            vous aurez alors accés à la création complète d'escape game ou de les modifier. <br>
            De plus, vous pourrez voir les statistiques de vos élèves et/ou de la promotion ainsi que des classes.</p>
        </article> 
        <article class="col-md-10">
            <p class="p_accueil">Si vous êtes <strong>Administrateur</strong> : <br>
            Vous pouvez créer les comptes des professeurs et des élèves mais aussi gérer certaines fonctionnalités.
            </p> 
        </article>
    </div>
  </div>
</div>
{% endblock %}