<!DOCTYPE html>
<html lang="fr">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='newCss.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='jeu.js') }}"></script>
    <script type="text/javascript">
        var temps = parseInt("{{temps}}");
        var heure = "{{heure}}";
        var minute = "{{minute}}";
        var seconde = "{{seconde}}";
        var intro = '{{intro}}'
    </script>
    <title>{{ title }}</title>
</head>
<body>
    <main id="main" class="mainScene">
        {% for enigme in enigmes%}
            {% set img = url_for('static', filename="img/" + enigme.enigme.image) %}
            <div onclick='afficheEnigme("{{enigme.enigme.texte}}", "{{enigme.enigme.titre}}", "{{enigme.enigme.id}}", "{{enigme.enigme.indice.texte}}", "{{img}}" )' id="enigme" class="enigme" style="position: absolute; top:{{enigme.y}}px; left: {{enigme.x}}px; width: 20px; height: 20px; background-color: rgba(255, 192, 203, 0.40);"></div>
        {% endfor %}

        <div id="resultat" class="none modal">
            <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Résultat</h4>
                    <button type="button" class="btn-close" onclick="cacher('resultat')"></button>
                </div>
                <div class="modal-body">
                    <p>{{resultat}}</p>
                </div>
            </div>
        </div>
        </div>
        <script>
            if('{{resultat}}' != "Pas de réponse"){
                afficheResultat();
            }
        </script>

        <div id="indice" class = "none indice modal">
            <div class="modal-dialog modal-dialog-centered modal-sm">
                <div class="modal-content">
                  <div class="modal-header">
                      <h4 class="modal-title">Indice</h4>
                      <button type="button" class="btn-close" onclick="cacherIndice()"></button>
                  </div>
                  <div class="modal-body">
                    <p id="textIndice"></p>
                  </div>
                </div>
            </div>
        </div>

        <div id="fondBlanc" class="fondBlanc">
            <div id = "pageEnigme" class="none modal enigme" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h4 class="modal-title" id="titreEnigme"></h4>
                        <button type="button" class="btn-close" onclick="cacher('pageEnigme')"></button>
                      </div>
                      <div class="modal-body">
                        <img id="img_enigme" style="width: 400px; height: 200px;">
                        <p id="textEnigme"></p>
                      </div>
                      <div class="modal-footer">
                        <form method='post' action="{{ url_for('jeu') }}">
                            <input type="hidden" class = "heureRestante" id="heureRestante" name="heureRestante" value={{heure}}>
                            <input type="hidden" class = "minuteRestante" id="minuteRestante" name="minuteRestante" value={{minute}}>
                            <input type="hidden" class = "secondeRestante" id="secondeRestante" name="secondeRestante" value={{seconde}}>
                            <input type="hidden" name="escape_id" value={{escape_id}}>
                            <input type="hidden" name="intro" value=false>
                            <input type="hidden" name="salle_id" value={{id_salle}}>
                            <input type="hidden" name="enigme_id" id="enigme_id">
                            <input type="hidden" name="id_partie" id="id_partie" value={{partie}}>
                            <input type="text" name="reponseDonnee">
                            <input type="hidden" id="groupe" name="groupe" value={{groupe}}>
                            <svg onclick="afficheIndice()" class="ionicon" viewBox="0 0 512 512"><title>Help Circle</title><path d="M256 80a176 176 0 10176 176A176 176 0 00256 80z" fill="none" stroke="currentColor" stroke-miterlimit="10" stroke-width="32"/><path d="M200 202.29s.84-17.5 19.57-32.57C230.68 160.77 244 158.18 256 158c10.93-.14 20.69 1.67 26.53 4.45 10 4.76 29.47 16.38 29.47 41.09 0 26-17 37.81-36.37 50.8S251 281.43 251 296" fill="none" stroke="currentColor" stroke-linecap="round" stroke-miterlimit="10" stroke-width="28"/><circle cx="250" cy="348" r="20"/></svg></br>
                            <div class="reponse">
                            <input class="btn btn-primary" type="submit" value="Valider">
                            </div>
                        </form>
                      </div>
                    </div>

                    </div>
            </div>


            <div id ="introduction" class="introduction">
                <div class="container">
                  <p class="p_accueil"><strong>{{ description }}</strong></p>
                  <button class="btn btn-primary" onclick="cacher('introduction')" >Jouer</button>
                </div>
            </div>


        </div>
        <script>
            if ( intro == "false"){
                cacher('introduction');
            }
        </script>
        <img id= "imgScene" class="imgScene" src="{{url_for('static',filename='img/'+salle_direction[id_salle][0].image)}}">
        <p id ="timer" class="timer">{{heure}}:{{minute}}:{{seconde}}</p>
        <a href="/etudiant"class="btn btn-secondary homeButton">Home</a>
	{% if salle_finit %}
        <form role="form" method='post' action="{{ url_for('jeu') }}">
            <input type="hidden" class = "heureRestante" id="heureRestante" name="heureRestante" value={{heure}}>
            <input type="hidden" class = "minuteRestante" id="minuteRestante" name="minuteRestante" value={{minute}}>
            <input type="hidden" class = "secondeRestante" id="secondeRestante" name="secondeRestante" value={{seconde}}>
            <input type="hidden" name="id_partie" id="id_partie" value={{partie}}>
            <input type="hidden" id="groupe" name="groupe" value={{groupe}}>
            <input type="hidden" name="escape_id" value={{escape_id}}>
            <input type="hidden" name="intro" value=false>
            <input class="arrow-right" name="salle_id" value="{{salle_direction[id_salle][1].id}}" type="submit">
            <input class="arrow-left" name="salle_id" value="{{salle_direction[id_salle][2].id}}" type ="submit">
        </form>
	{% endif %}
        {% if fin == True %}
            <div class="finit">
                <p>Bien jouer tu as finis ce scénario !</p>
                <script>
                    stopTimer();
                </script>
                <form method = 'post' action="{{ url_for('noter') }}">
                    <input type="hidden" class = "heureRestante" id="heureRestante" name="heureRestante" value={{heure}}>
                    <input type="hidden" class = "minuteRestante" id="minuteRestante" name="minuteRestante" value={{minute}}>
                    <input type="hidden" class = "secondeRestante" id="secondeRestante" name="secondeRestante" value={{seconde}}>
                    <input type="hidden" name="note" value={{note}}>
                    <input type="hidden" name="id_partie" value="{{partie}}">
                    <input type="hidden" id="groupe" name="groupe" value={{groupe}}>
                    <input type="submit" value="Accueil" class="btn btn-primary">
                </form>
            </div>
        {% endif %}
        <div class="finit none" id = "perdu">
            <p>Bien jouer tu as perdu ce scénario !</p>
            <form method = 'post' action="{{ url_for('noter') }}">
                <input type="hidden" class = "heureRestante" id="heureRestante" name="heureRestante" value={{heure}}>
                <input type="hidden" class = "minuteRestante" id="minuteRestante" name="minuteRestante" value={{minute}}>
                <input type="hidden" class = "secondeRestante" id="secondeRestante" name="secondeRestante" value={{seconde}}>
                <input type="hidden" name="note" value=0>
                <input type="hidden" name="id_partie" value="{{partie}}">
                <input type="hidden" id="groupe" name="groupe" value={{groupe}}>
                <input type="submit" value="Accueil" class="btn btn-primary">
            </form>
        </div>
    </main>
</body>
</html>
