{% extends "baseAnonyme.html" %}
{% block main %}

<div class="container-fluid">
  <div class="container">
    <div class="col">
        <div class="login col-md-5">
        {% if error %}
        <div id="alert_groupe" class="alert alert-danger col-md-6" role="alert">
            Mail ou mot de passe incorrect  !
        </div>
        {% endif %}
        <form role="form" method ="POST" action ="{{ url_for('login')}}">
            {{ form.hidden_tag() }}
              <p>Mail :</p>
                {{ form.mail(size=50, class_="form-control", placeholder="Mail") }}
              <p>Mot de passe :</p>
                {{ form.motDePasse(size=50, class_ ="form-control", placeholder="Password") }}
                <button type="submit" class ="btn btn-primary">Sign in</button>
              </div>
          </form>
        </div>
    </div>
  </div>
</div>
{% endblock %}