{% extends "base.html" %}
{% block nav %}
<ul class="navbar-nav me-auto mb-2 mb-lg-0">
  <span class="navbar-text">
    {{ current_user.nom }} {{ current_user.prenom }}
  </span>
  <img src="{{url_for('static',filename='img/'+current_user.imageProfil)}}">
</ul>
<li><a class="btn btn-secondary" href="/retour">retour</a></li>
{% endblock %}
{% block main  %}
<div class="container">
<h3>Vos Informations Personnelles</h3>
<form method="POST" action="{{ url_for('parametre') }}" enctype="multipart/form-data">
  {{ form.hidden_tag() }}
  <div>
    {{ form.file.label }}
    <img style="width: 100px " src="{{url_for('static',filename='img/'+current_user.imageProfil)}}">
    {{ form.file }}
  </div>
  <div class="">
    {{ form.nom.label }} {{ form.nom }}
  </div>
  <div class="">
    {{ form.prenom.label }} {{ form.prenom }}
  </div>
  <div class="">
    {{ form.mail.label }} {{ form.mail }}
  </div>
  <div class="">
    {{ form.motDePasse.label}} {{ form.motDePasse}}
  </div>
  <div class="">
    <input type="submit" value="Validez" class="btn btn-primary">
  </div>
</form>
<script>
  let nom = document.getElementById('nom');
  nom.setAttribute('value',"{{current_user.nom}}");
  let prenom = document.getElementById('prenom');
  prenom.setAttribute('value',"{{current_user.prenom}}");
  let mail = document.getElementById('mail');
  mail.setAttribute("value","{{current_user.mail}}");
</script>

  <div id="popupstat" class="pop-up-statistique">
    <button type="button" class="btn-close button-close" onclick="cacher('popupstat')"></button>
    <form method="post" action="{{url_for('voter')}}">
      <label>Etoile :</label>
      <div class="stars">
        <i class="fa fa-star" data-value="1"></i><i class="fa fa-star star_vote" data-value="2"></i><i class="fa fa-star star_vote" data-value="3"></i><i class="fa fa-star star_vote" data-value="4"></i><i class="fa fa-star star_vote" data-value="5"></i>
        <input class="note" name="note" id="note" type="text" required>
      </div>
      <p>Commentaire :</p>
      <textarea name="commentaire" required></textarea>
      <div>
        <input type="submit" value="Valider" class="btn btn-primary">
      </div>
    </form>
  </div>
  <button onclick="popUpStatistique()" class="btn btn-primary">Ajouter un avis</button>
  <script>
    voter();
  </script>
{% endblock main %}
