<!DOCTYPE html>
<link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}">
<div id="ajouterpromo">
  <img class="imageEscape" src="{{url_for('static',filename='img/'+salle[id_enigme].image)}}" id="img" style="height: 100vh; width: 100vw;">
  <form id="fofo" action="{{ url_for('placer_salle',ids=id_enigme,ide=iden)}}" method="POST">
    <input type="hidden" id="posx" name="posx" value="coucou">
    <input type="hidden" id="posy" name="posy" value="salut">
    <input type="hidden" id="id_salle" name="id_salle" value="{{salle[id_enigme].id}}">
    <input type="hidden" id="id_salle" name="id_enigme" value="{{iden}}">
  </form>
    <script>
      let x = 0;
      let y = 0;
      let didi = document.getElementById('ajouterpromo');
      didi.addEventListener('mousedown', e => {
        x = e.clientX;
        y = e.clientY;
        let form = document.getElementById('fofo')
        let posx = document.getElementById('posx')
        posx.value = x;
        let posy = document.getElementById('posy');
        posy.value = y;
        form.submit();
      });
    </script>
</div>
