{% extends "baseCreationEscape.html" %}
{% block main %}
<div class="container">
  <h3>Quelle énigme voulez-vous placer ?</h3>
  <br>
  <h4>Lorsque vous allez cliquer sur placer, l'image de votre salle va s'ouvrir et il vous suffit de
  cliquer sur l'endroit où vous voulez placer l'énigme</h4>
  <br>
<form action="{{ url_for('placer_enigme')}}" method="POST">
<select id="select" name="select1" id="pinsard" onchange="ff()">
  <option value="-1">Choisissez votre énigme :</option>
  {% for i in range(enigme|length) %}
    <option value="{{i}}">{{enigme[i].titre}}</option>
  {% endfor %}
  <input type="submit" value="Placez">
</select>
</form>
</div>
<div class="scene">
</div>
{% endblock %}