{% extends "baseProfesseur.html" %}
{% block main %}

<div class="container-fluid">
  <div class="container">
  <div class="row">
  <button id="btnCreerClasse" class="btn btn-primary col-md-2 me-auto mb-2" onclick="creerClasse()">Créer une classe</button>
  <button id="btnpromo" class="btn btn-primary col-md-2 me-auto mb-2" onclick="ajouterPromo()">Créer promotion</button>
  <button id="btnAjouterEleve" class="btn btn-primary col-md-2 me-auto mb-2" onclick="ajouterEleve()">Déplacer élève</button>
  <button id="btnCreerEleve" class="btn btn-primary col-md-2 me-auto mb-2" onclick="creerEleve()">Créer Eleve</button>
  <button id="btnEleve" class="btn btn-primary col-md-2 me-auto mb-2" onclick="ajouterPlusieursEleve()">Exel élèves</button>
</div>

<div class="row">
  <select class="col-md-3" id="select_groupe" onchange="groupe()">
      <option>Choisir groupe</option>
      {% for groupe in groupes %}
      <option value = {{groupe.id}}>{{ groupe.nom }}</option>
      {% endfor %}
  </select>
  <form class="col-md-2" method = 'post' action="{{ url_for('supp_groupe') }}">
    <input type="hidden" name="groupe" class="groupe" value="">
    <button class="btn btn-primary col-md-12">Supprimer</button>
  </form>
  <button class="btn btn-primary col-md-2" onclick="popup_creer_groupe()">Créer</button>
  <button class="btn btn-primary col-md-2" onclick="popup_ajouter_eleves()" >Ajouter élèves</button>
</div>

<div id="ajouter_eleves" class="pop-up-statistique container-fluid ajout_eleve">
  <div class="row">
    <div class="col-md-5">
      <h6>Groupes :</h4>
      <ul class="groupe_etu overflow-auto">
        {% for groupe, eleve in eleve_groupe.items() %}
        <li onclick="affiche_eleve('{{eleve_groupe[groupe]}}', '{{groupe.id}}', '{{groupe.nom}}')" >{{ groupe.nom }}</li>
        {% endfor %}
      </ul>
      <div class="groupe_etu overflow-auto">
        <h6 id="groupe_choisis">Choisissez un groupe</h6>
      <ul id="eleve_in_groupe">
      </ul>
    </div>
    </div>
    <div class="col-md-6">
      <div>
        <h6>Etudiants à ajouter :</h6>
        <form role="form" method="POST" action="{{url_for('ajout_eleve_groupe')}}">
          <input type="hidden" id="groupe_etu" name="groupe" value="0">
          <div class="overflow-auto all_etu">
            <ul>
            {% for etu in etudiants %}
            <li class="dropdown-item"><input type="checkbox" name="checkboxetu" value={{etu.utilisateur.mail}}> {{etu.utilisateur.nom}} {{etu.utilisateur.prenom}}</li>
            {% endfor %}
            </ul>
          </div>
            <input class="btn btn-primary" type="submit" value="Valider">
        </form>
      </div>
    </div>
    <button type="button" class="btn-close col-md-1" onclick="fermer_ajout_eleve()"></button>
  </div>
</div>

<div id="creer_groupe" class = "pop-up-statistique">
  <form role="form" method="post" action="{{ url_for('creer_groupe') }}">
      {{ form.hidden_tag() }}
      {{ form.nom.label }}
      {{ form.nom(size=20) }}
      <input class="btn btn-primary" type="submit" value="Créer">
  </form>
    <button type="button" class="btn-close button-close" onclick="cacher('creer_groupe')"></button>
</div>

<div class="row">
  {% for classe, etudiant in dict_etu_classe.items() %}
  <div class="col-md-11 classe">
    <h3 onclick="afficherEtu('{{classe.nom}}')">{{classe.nom}}</h1>
      <button id="suppClasse" class="btn btn-primary" onclick="suppClasse('{{classe.nom}}')">Supprimer Classe</button>
      <button class="btn btn-primary" onclick="popUpStatistiqueClasse('{{classe.id}}')">Statistiques Classe</button>
      <div id="popupstatclasse{{classe.id}}" class="pop-up-statistique">
          <input type="hidden" name="classons" value="{{classe}}">
          <div class="row">
            <div class="col"> 
              <div>
                <p><strong>Moyenne de la classe</strong></p>
                <p>{{moyennes_classes[classe][1]}}</p>
              </div>
              <div>
                <p><strong>Nombre d'élève</strong></p>
                <p>{{moyennes_classes[classe][0]}}</p>
              </div>
            </div>
        </div>
      <button type="button" class="btn-close button-close" onclick="cacher('popupstatclasse{{classe.id}}')"></button>
    </div>
    

    <div id="{{classe.nom}}" class="pop-up-statistique">
      <table class="table table-striped">
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Email</th>
          <th>Statistiques</th>
          <th>Autres Actions</th>
        </tr>
        {% for etu in etudiant %}
        <tr>
          <td>{{etu.utilisateur.nom}}</td>
          <td>{{etu.utilisateur.prenom}}</td>
          <td>{{etu.utilisateur.mail}}</td>
          <td><a href="/professeur/statEleve/{{etu.utilisateur.mail}}">Statistique de l'éléve</td>
          <td><button id="suppEleve" class="btn btn-primary" onclick="suppEleve('{{etu.utilisateur.prenom}}','{{etu.utilisateur.nom}}','{{etu.utilisateur.mail}}')">Supprimer</button></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
  {%endfor %}
</div>

<div id="overlay" class="pop-up-statistique">
  <div id="popup">
    <form action="{{ url_for('professeurEleve') }}" method="post">
      <input id="classe" type="text" name="classe" placeholder="nom classe" required focus>
      <input id="promotion" type="text" name="promotion" placeholder="nom de la promation" required>
      <input type="reset" value="reset" class="btn btn-primary">
      <input type="submit" value="Valider" class="btn btn-primary">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('overlay')"></button>
  </div>
</div>

<div id="ajoutEleve" class="pop-up-statistique">
  <div id="popup">
    <form action="{{ url_for('professeurEleve') }}" method="post">
      <input type="text" name="nomEleve" placeholder="nom de l'élève">
      <input type="email" name="email" placeholder="address Mail" required>
      <input type="text" name="promotion" placeholder="promotion" required>
      <input type="text" name="nomClasse" placeholder="nom classe" required>
      <input class="btn btn-primary" type="reset" value="reset">
      <input class="btn btn-primary" type="submit" value="Valider">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('ajoutEleve')"></button>
  </div>
</div>

<div id="creerEleve" class="pop-up-statistique">
  <div id="popup">
    <form action="{{ url_for('professeurEleve')}}" method="post">
      <input type="text" name="nom" placeholder="nom Eleve">
      <input type="text" name="prenom" placeholder="prenom Eleve">
      <input type="password" name="mdp" placeholder="mot de passe provisoire">
      <input type="email" name="email" placeholder="email">
      <input type="text" name="promo" placeholder="promotion eleve">
      <input type="text" name="classe_eleve" placeholder="classe eleve">
      <input type="reset" value="reset" class="btn btn-primary">
      <input class="btn btn-primary" type="submit" value="Valider">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('creerEleve')"></button>
  </div>
</div>

<div id="ajouterPlusieursEleve" class="pop-up-statistique">
  <div id="popup" >
    <p>Insérer un fichier Excel afin d'insérer vos données du tableur</p>
    <form action="{{ url_for('professeurEleve')}}" method="post" enctype="multipart/form-data">
      {{ f.hidden_tag() }}
      {{ f.file}}
      <input type="hidden" name="valid" value="test">
      <input name="valid" type="submit" value="Valider" class="btn btn-primary">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('ajouterPlusieursEleve')"></button>
  </div>
</div>
<div id="ajouterPlusieursEleveG" class="pop-up-statistique">
  <div id="popup">
    <p>Insérer un fichier GoogleSheet afin d'insérer vos données du tableur</p>
    <form action="{{ url_for('professeurEleve')}}" method="post" enctype="multipart/form-data">
      <input type="hidden" name="valid" value="test">
      <input name="valid" type="submit" value="Valider" class="btn btn-primary">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('ajouterPlusieursEleveG')"></button>
  </div>
</div>

<div id="supprimerEleve" class="pop-up-statistique">
  <div id="popup">
    <form name="supprimer" action="{{ url_for('professeurEleve')}}" method="post">
      <input type="text" name="prenomsupp">
      <input type="text" name="nomsupp">
      <input type="text" name="mailsupp">
      <input type="submit" value="Valider" class="btn btn-primary">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('supprimerEleve')"></button>
  </div>
</div>

<div id="supprimerClasse" class="pop-up-statistique">
  <div id="popup" >
    <p>FAITE QUE SA MARCHE</p>
    <form name="supprimerClasse" action="{{ url_for('professeurEleve')}}" method="post">
      <input type="text" name="classesupp">
      <input type="submit" value="Valider" class="btn btn-primary">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('supprimerClasse')"></button>
  </div>
</div>

<div id="ajouterpromo" class="pop-up-statistique">
  <div id="popup">
    <form action="{{ url_for('professeurEleve') }}" method="post">
      <input id="promotion" type="text" name="ajoutpromo" placeholder="nom de la promotion" required>
      <input type="reset" value="reset" class="btn btn-primary">
      <input type="submit" value="Valider" class="btn btn-primary">
    </form>
    <button type="button" class="btn-close button-close" onclick="cacher('ajouterpromo')"></button>
  </div>
</div>



</div>
</div>
{% endblock %}
