{% extends "baseProfesseur.html" %}
{% block main %}
<div class="container-fluid">
    <div class="container">
<h3>Comment créer un escape:</h3>
<h4>Voici un tuto pour créer un escape game : <a href="https://www.youtube.com/watch?v=uopO0HokPa4" target="_blank">tuto</a></h4>
<p>Pour créer un escape game il vous faut :</p>
<ul>
    <li>Une photo</li>
    <li>Au minimum trois énigmes</li>
    <li>Un titre</li>
</ul>
<a href="/scenario"><button class="btn btn-primary" type="button">Créer un escape game</button></a>
{% endblock %}
