{% extends "baseProfesseur.html" %}
{% block main %}

<div class="container-fluid">
    <div class="container">

<h3>Vos créations:</h3>
<div class ="row">
    {% for escape in escapes %}
    <div class="vueEscape col-md-2">
        <img class="imageEscape" src="{{url_for('static',filename='img/'+escape.image)}}">
        <p><strong>{{escape.nom}}</strong></p>
        <button class="boutonStat" id="btnCreerClasse" onclick="publier({{escape.id}})" type="button">Publier</button>
        <form action="{{ url_for('supprimer_un_scenario')}}" method="post">
            <input type="hidden" name="escape" value="{{escape.id}}">
            <button class="btn btn-primary" type="submit" name="">Supprimer</button>
        </form>
    </div>
    {% endfor %}
</div>
<div id="overlay" class="pop-up-statistique">
  <div id="popup" class="creerClasse">
    <form action="{{url_for('professeurEscape')}}" method="POST">
      <p>A quelle date voulez vous rendre le scénario accessible</p>
      <input type="date" name="date" required>
      <p>Pour Quelle(s) classe(s) voulez-vous publiez le scénario</p>
      <select class="" name="groupes" multiple="oui">
        {% for i in groupe %}
          <option value="{{i.id}}">{{i.nom}}</option>
        {% endfor %}
      </select>
      <input type="hidden" id="idS" name="idS" value="">
      <input type="submit" value="Validez">
    </form>
  </div>
</div>
{% endblock %}
