{% extends "base.html" %}
{% block nav %}
<ul class="navbar-nav mb-2 mb-lg-0">
  <span class="navbar-text">
    {{ current_user.nom }} {{ current_user.prenom }}
  </span>
  <img src="{{url_for('static',filename='img/'+current_user.imageProfil)}}">
</ul>
<p class="p_accueil" style="color:white;">Bienvenue dans vos les statistiques de {{eleve.utilisateur.nom}} {{eleve.utilisateur.prenom}}</p>
<li><a class="btn btn-secondary" href="/professeur">retour</a></li>
{% endblock %}
{% block main %}
<div class="container-fluid">
  <div class="row">
    <article class="col-md-5">
      <h3>Informations de l'utilisateur</h3>
      <p>nom: {{eleve.utilisateur.nom}}, prenom: {{eleve.utilisateur.prenom}}</p>
      <p>address mail: {{eleve.utilisateur.mail}}</p>
      <p>image de profil :</p>
      <img src="{{url_for('static',filename='img/'+eleve.utilisateur.imageProfil)}}" style="width: 400px; height: 200px;">
    </article>

    <div class="col-md-5">
<h1>{{eleve.utilisateur.nom}} {{eleve.utilisateur.prenom}} a une moyenne général de {{moyenne}}</h1>
<h3>Il a réalisé les scénarios suivants:</h3>
<div class="">
  <ul>
    {% for (scenario,note) in realise.items()%}
    <li>{{scenario}}</li>
    <ul>
      {% for n in range(note|length) %}
        {% if n == 0 %}
          <li>Note Maximal obtenue: {{note[n]}}</li>
        {% elif n == 1 %}
          <li>Nombre de succès: {{note[n]}}</li>
        {% else %}
          <li>Nombre d'abandon: {{note[n]}}</li>
        {% endif %}
      {% endfor %}
    </ul>
    {% endfor %}
  </ul>
</div>
</div>

</div>
</div>
{% endblock %}
