{% extends "baseadmin.html" %}
{% block main %}
<div class="container">
<h3>Tiens des stats: </h3>
<ul>
	<li>Nombre de compte professeur : {{nb_prof}}</li>
	<li>Nombre de compte élève : {{nb_eleve}}</li>
	<li>Nombre d'escape game créer : {{nb_escape}}</li>
	<li>Nombre d'escape game accomplis : 342</li>
</ul>
</div>
{%endblock%}
